.inputContainer {
    margin: auto;
    max-width: 298px;
    margin-bottom: 20px;
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {
  
    .inputContainer {
        display: inline-block;
        padding: 20px;
    }
    
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
  
    .inputContainer {
        display: inline-block;
        padding: 20px;
    }
    
}

