.searchContainer {
    height: 243px;
    background-color: #F8F8F8;
    transition: left 0.5s;
}

h1 {
    font-size: 12px;
    color: #DE2110;
    text-align: center;
    padding: 10px;
    margin: 0;
}

.inputContainer {
    margin: auto;
    max-width: 298px;
    margin-bottom: 20px;
}

input {
    display: block;
    background-color: #EEEEEE;
    width: 270px;
    border: 0;
    padding: 14px;
    font-weight: 200;
    color: #df210e;
    letter-spacing: 1px;
    font-size: 20px;
    border-bottom: 1px solid #d84f38;
}

input:focus {
    outline: none;
}

input::placeholder {
    color: #dcdcdc;
    text-transform: uppercase;
}

label {
    font-size: 12px;
    font-weight: 700;
    color: #DE2110;
    text-transform: uppercase;
}

.option {
    background-color: white;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #d84f38;
    border-left: 1px solid #d84f38;
    border-right: 1px solid #d84f38;
    text-align: left;
}

.remove {
    display: none;
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {
  
    .searchContainer {
        text-align: center;
        height: 190px;
    }

    .inputContainer {
        display: inline-block;
        padding: 20px;
    }
    
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
  
    .searchContainer {
        text-align: center;
        height: 190px;
    }

    .inputContainer {
        display: inline-block;
        padding: 20px;
    }
    
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (max-width: 480px) {

    .searchContainer {
        height: 243px;
    }
    
}
