.option {
    position: absolute;
    z-index: 100;
    background-color: white;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #d84f38;
    border-left: 1px solid #d84f38;
    border-right: 1px solid #d84f38;
    text-align: left;
    width: 264px;
    box-shadow: 0px 9px 26px -9px rgba(143,143,143,1);
}