.headerContainer {
    height: 60px;
    background-color: #DE2110;
    color: #ffffff;
}

.title {
    margin: 0;
    text-align: center;
    font-size: 40px;
    font-weight: 100;
    padding: 6px;
}